# N8N Configuration
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=admin123
N8N_HOST=0.0.0.0
N8N_PORT=5678
N8N_PROTOCOL=http
WEBHOOK_URL=http://localhost:5678/
GENERIC_TIMEZONE=America/Sao_Paulo
N8N_LOG_LEVEL=info
N8N_METRICS=true
N8N_DIAGNOSTICS_ENABLED=false
N8N_VERSION_NOTIFICATIONS_ENABLED=false
N8N_TEMPLATES_ENABLED=false
N8N_PERSONALIZATION_ENABLED=false
N8N_ONBOARDING_FLOW_DISABLED=true
N8N_PUBLIC_API_DISABLED=true
N8N_DISABLE_UI=false
N8N_DISABLE_PRODUCTION_MAIN_PROCESS=false
N8N_DEFAULT_BINARY_DATA_MODE=filesystem
N8N_BINARY_DATA_TTL=24
N8N_BINARY_DATA_MAX_SIZE=16777216
N8N_BINARY_DATA_STORAGE_PATH=/home/node/.n8n
N8N_ENCRYPTION_KEY=your-encryption-key-here

# PostgreSQL Database Configuration
DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=url_do_neon_aqui
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE=neondb
DB_POSTGRESDB_USER=neondb_owner
DB_POSTGRESDB_PASSWORD=senha
DB_POSTGRESDB_SSL_ENABLED=true
DB_POSTGRESDB_SSL_REJECT_UNAUTHORIZED=false

